@model IEnumerable<Movie>

@{
	ViewData["Title"] = "Movies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

@if (Model is null || !Model.Any())
{
	<p>There is no movie yet.</p>
}
else
{
	<table class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Movie</th>
		</tr>
		</thead>
		<tbody>
			@foreach (var movie in Model)
			{
				<tr>
					<td>@movie.Name</td>
				</tr>
			}
		</tbody>
	</table>
}

